@{
	Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
	<script>
		window.onload = function () {

			var chart = new CanvasJS.Chart("chartContainer", {
				animationEnabled: true,
				exportEnabled: true,
				title: {
					text: "Customer Order Analysis"
				},
				data: [{
					type: "funnel",
					neckHeight: 0,
					yValueFormatString: "#\"%\"",
					indexLabel: "{label} - {y}",
					indexLabelPlacement: "inside",
					dataPoints: @Html.Raw(ViewBag.DataPoints)
			}]
			});
			chart.render();

		}
	</script>
</head>
<body>
	<div id="chartContainer" style="height: 370px; width: 100%;"></div>
	<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
</body>
</html>
